<ion-view class="pane">
  <ion-content  scroll="false">
    <!--<div class="intro-parent">-->
      <div class="game">
        <div class="custom-circle" easypiechart options="options" percent="percent">
          <span class="percent custom-circle score" ng-bind="valorInestable"></span>
        </div>
      </div>
      <div class="game-sub">
        <div class="button-bar bar-dark custom">
          <a ng-repeat="valor in valoresDefault" class="button" ng-click="minus(valor, $index)" ng-hide="valorInestable < valor"> {{valor}} </a>
        </div>
      </div>
    <!--</div>-->
  </ion-content>
</ion-view>
